html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* inika-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

/* Header styles start */


.header{
    height: 134px;
    background-color: #EDF2EC;
    width: 100%;
}

.navbar{
    max-width: 1220px;
    height: 134px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 79.17px;
    height: 21.04px;
    margin-left: 111px;
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
}

.logo__vector{
    width: 19px;
    height: 20px;
    left: 112px;
    top: 52px;
}

.nav{
    width: 452px;
    height: 50px;
    margin-right: 0px;
    margin-top: 42px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__link{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}

.header__link__Home{
    font-weight: 700;
    color: #E06733;
}

.header__item{
    margin-right: 46px;
}

.contacts{
    margin-right: 0px;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}


/* Header styles end */

/* Welome styles start */


.welcome{
    height: 532px;
    background-color: #EDF2EC;
}

.welcome__section{
    max-width: 1220px;
    height: 407px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leafs_png{
    width: 448.8px;
    height: 407.36px;
    margin-left: 109px;
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
}

.leafs_png{
    width: 448.8px;
    height: 407.36px;
    left: 109px;
    top: 62px;
}

.welcome__text__section{
    width: 549px;
    height: 340px;
    margin-right: 0px;
    margin-top: 98px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    width: 549px;
    height: 101px;
}

.intro__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-top: 42px;
    margin-bottom: 48px;
}

.intro__button{
    width: 158px;
    height: 44px;
    margin-bottom: 0px;
}

.intro_button_text{
    width: 104px;
    height: 16px;
    margin-top: 14px;
    margin-left: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.prices{
    height: 666px;
    background-color: #FFFFFF;
}

.about__section{
    max-width: 1220px;
    height: 479px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__content{
    max-width: 1222px;
    height: 94px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services{
    max-width: 1220px;
    height: 955px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__us__section{
    width: 605px;
    height: 350px;
    margin-left: 109px;
    margin-top: 161px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.houseplant__1__png{
    width: 464px;
    height: 479px;
    margin-right: 0px;
    margin-top: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts{
    height: 1300px;
    background-color: #EDF2EC;
}
